{% extends "base.html" %}
{% block page_content %}


<div class="container" style="padding-top: 8%;">

      <div class="row">
        
        <div class="col-md-auto">
          <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" >
            Sort By
          </button>
        </div>
        <div class="col-md-auto">
          <!-- New Employee button -->
          <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#newEmployeeCollapse" aria-expanded="false" >New Employee</button>
        </div>
        <div class="col-md-auto">
          <form class="d-flex" method="post">
            <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    
       </div>
       
</div>
<div class="collapse" id="newEmployeeCollapse">
        <div class="container mt-3">
            <form method="post">
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="first_name" required>
                </div>
      
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="last_name" required>
                </div>
      
                <div class="mb-3">
                    <label for="jobTitle" class="form-label">Job Title</label>
                    <input type="text" class="form-control" id="jobTitle" name="job_title" required>
                </div>
      
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phone_number" required>
                </div>
      
                <div class="mb-3">
                    <label for="extraNotes" class="form-label">Extra Notes</label>
                    <textarea class="form-control" id="extraNotes" name="extra_notes" rows="3"></textarea>
                </div>
      
                <button type="submit" class="btn btn-success">Create Employee</button>
                <button type="button" class="btn btn-secondary" onclick="closeNewEmployeeCollapse()">
                  
                  Cancel
              </button>
            </form>
        </div>
</div>
   
<div class="container-fluid " style="padding-top: 2%; padding-bottom: 3%;">

  
      <div class="accordion" id="accordionExample" style="width: 50rem;">
        {% for employee_id, employee in employee_list %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{employee_id}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse{{employee_id}}" aria-expanded="false"
                      aria-controls="collapse{{employee_id}}"
                      onclick="toggleAccordion('{{employee_id}}')">
                {{employee.name}} {{employee.surname}}
              </button>
            </h2>
            <div id="collapse{{employee_id}}" class="accordion-collapse collapse"
                aria-labelledby="heading{{employee_id}}" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div>
                  <strong>ID: </strong> {{employee_id}}<br>
                 <strong> Employee Name: </strong>{{employee.name}} {{employee.surname}}<br>
                  <strong> Job Title:</strong> {{employee.job_title}}<br>
                  <strong>Phone Number: </strong>{{employee.business_phone}}<br>
                  {% if employee.business_phone %}<br>
                  <strong>Phone Number: </strong>{{employee.business_phone}}<br>
                  {%endif%}
                  
                  {% if employee.notes %}
                  <strong>>Notes:</strong> {{employee.notes}}<br>
                  {%endif%}
                </div>
                <div>
                  <button class="btn btn-warning" data-bs-toggle="collapse" data-bs-target="#updateEmployeeCollapse" aria-expanded="false">Update</button>
                  
                  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal{{employe_id}}">Delete</button>
                </div>
                <div class="collapse" id="updateEmployeeCollapse">
                  <div class="container mt-3">
                      <form method="post">
                          <div class="mb-3">
                              <label for="firstName" class="form-label">First Name</label>
                              <input type="text" class="form-control" id="newFirstName" name="newFirst_name" required>
                          </div>
                
                          <div class="mb-3">
                              <label for="lastName" class="form-label">Last Name</label>
                              <input type="text" class="form-control" id="newLastName" name="newLast_name" required>
                          </div>
                
                          <div class="mb-3">
                              <label for="jobTitle" class="form-label">Job Title</label>
                              <input type="text" class="form-control" id="newJobTitle" name="newJob_title" required>
                          </div>
                
                          <div class="mb-3">
                              <label for="phoneNumber" class="form-label">Phone Number</label>
                              <input type="tel" class="form-control" id="newPhoneNumber" name="newPhone_number" required>
                          </div>
                
                          <div class="mb-3">
                              <label for="extraNotes" class="form-label">Extra Notes</label>
                              <textarea class="form-control" id="newExtraNotes" name="newExtra_notes" rows="3"></textarea>
                          </div>
                
                          <button type="submit" class="btn btn-success">Update Employee</button>
                          <button type="button" class="btn btn-secondary" onclick="closeUpdateEmployeeCollapse()">
                            Cancel
                        </button>
                      </form>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Are You Sure?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Do you really want to delete this employee? This action can not be undone.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="POST">
                      <input type="hidden" id="deleteId" name="deleteId" value="{{employee_id}}">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>


<script>
  function closeNewEmployeeCollapse() {
      var newEmployeeCollapse = new bootstrap.Collapse(document.getElementById('newEmployeeCollapse'), {
          toggle: false
      });
      newEmployeeCollapse.hide();
  }
  function closeUpdateEmployeeCollapse() {
      var updateEmployeeCollapse = new bootstrap.Collapse(document.getElementById('updateEmployeeCollapse'), {
          toggle: false
      });
      updateEmployeeCollapse.hide();
  }
</script>



{% endblock %}

