{% extends "base.html" %}
{% block page_content %}
	<link rel="stylesheet" href="{{url_for('static',filename='styles/login.css')}}">
    <title>Login</title>
    <div class="login-container">
        <h2>Welcome</h2>
        <form method="post" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    </div>
	
	
{% endblock %}
