{% extends "base.html" %} 
{% block page_content %}
<style>
  /* Style sortable table headers */
th.sortable {
    cursor: pointer; /* Change cursor to pointer on hover */
}

th.sortable:hover::after {
    content: " ▼"; /* Add down arrow on hover */
}

th.sortable.asc::after {
    content: " ▲"; /* Add up arrow for ascending order */
}
</style>
<div class="container" style="padding-top: 8%;">
  <div class="row">
    
    <div class="col-md-auto">
      <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#newProductCollapse">New Product</button>
    </div>
    <div class="col-md-auto">
      <div class="dropdown">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" >
          Fİlter By Category
        </button>
        <form method="post">
        <ul class="dropdown-menu">
          {% for category in category_list %}
          <li > 
            <div class="form-check" style="margin: 3%;">
              <input class="form-check-input" type="checkbox" value="{{category[0]}}" id="filterCategory{{category}}" name="checkedCategory[]">
              <label class="form-check-label" for="filterCategory">
                {{category[0]}}
              </label>
            </div>
            
          </li>
          {%endfor%}
          <li>
            <button class="btn btn-primary" type="submit" style="margin: 5%;">Filter</button>
          </li>
        </ul>
      </form>
      </div>
    
    </div>
    <div class="col-md-4">
      <form class="d-flex" method="post">
        <input class="form-control me-2" name="search" type="search" placeholder="Search by product name or code.." aria-label="Search" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

   </div>
    
  </div>
 
  <div class="collapse" id="newProductCollapse">
    <div class="container mt-3">
        <form method="POST">
            <div class="mb-3">
                <label for="product_name" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="product_name" name="product_name" required>
            </div>
  
            <div class="mb-3">
                <label for="product_code" class="form-label">Product Code</label>
                <input type="text" class="form-control" id="product_code" name="product_code" required>
            </div>
  
            <div class="mb-3">
                <label for="standard_cost" class="form-label">Standard Cost</label>
                <input type="number" class="form-control" id="standard_cost" name="standard_cost" required>
            </div>
  
            <div class="mb-3">
                <label for="list_price" class="form-label">List Price</label>
                <input type="number" class="form-control" id="list_price" name="list_price" required>
            </div>
  
            <div class="mb-3">
                <label for="quantitiy_per_unit" class="form-label">Quantity Per Unit</label>
                <input class="form-control" id="quantitiy_per_unit" name="quantitiy_per_unit" rows="3"></input>
            </div>
            <div class="mb-3">
              <select class="form-select" id="categorySelect" name="selected_category" aria-label="Category">
                <option selected>Choose a category</option>
                {% for category in category_list%}
                <option value="{{category[0]}}">{{category[0]}}</option>
                
                {%endfor%}
              </select>
              <small class="text-muted">
                Can't find your category? Just click
                <button type="button" class="btn btn-link p-0" data-bs-toggle="collapse" data-bs-target="#newCategoryCollapse">
                    here
                </button>!
            </small>
            <div class="collapse" id="newCategoryCollapse">
              
                <label for="category" class="form-label">Category</label>
                <input type="text" class="form-control" id="category" name="category">
              
            </div>
            </div>
            <div class="mb-3">
              <select class="form-select" id="selectedSupplier" name="selected_supplier" aria-label="Category">
                <option selected>Choose a supplier</option>
                {% for id , company in company_list%}
                <option value="{{id}}">{{id}} {{company}}</option>
                
                {%endfor%}
              </select>
              <small class="text-muted">
                Can't find your supplier company? You should add the company information first. Just click
                <a href="/suppliers">here</a>!
            </small>
            </div>
  
            <button type="submit" class="btn btn-success">Create Product</button>
            <button type="button" class="btn btn-secondary" onclick="closeNewProductCollapse()">
              
              Cancel
          </button>
        </form>
    </div>
</div>
  <div class="mt-4">
    <table id="sortable-table" class="table table-light table-striped table-hover">
      <thead>
        <tr>
          <th class="sortable" scope="col">ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Code</th>
          <th class="sortable" scope="col">Standard Cost</th>
          <th class="sortable" scope="col">List Price</th>
          <th scope="col">Quantity Per Unit</th>
          <th scope="col">Supplier Company</th>
          <th scope="col">Category</th>
          <th scope="col"></th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for company_name, product_id, product in product_list %}
        <tr>
          <td scope="row">{{ product_id }}</th>
          <td>{{ product.product_name }}</td>
          <td>{{ product.code }}</td>
          <td>{{ product.cost }}</td>
          <td>{{ product.list_price }}</td>
          <td>{{ product.quantitiy_per_unit }}</td>
          <td><a  style="color: black;" href="/suppliers">{{ company_name }}</a></td>
          <td>{{ product.category }}</td>
          <td>
            <button type="button" id="updateButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateProductModal{{product_id}}">Update</button> 
          </td>
          <td>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" >Delete</button>
          </td>
          <div class="modal fade" id="updateProductModal{{product_id}}">
            
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Update Employee {{employee_id}}:</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                  <div class="container mt-3">
                    <form method="POST">
                        <div class="mb-3">
                          <label for="new_product_name" class="form-label">Product Name</label>
                          <input type="text" value="{{product.product_name}}" class="form-control" id="new_product_name" name="new_product_name" placeholder="{{product.product_name}}" required>
                        </div>
                  
                        <div class="mb-3">
                          <label for="new_product_code" class="form-label">Product Code</label>
                          <input type="text" value="{{ product.code }}" placeholder="{{ product.code }}" class="form-control" id="new_product_code" name="new_product_code" required>
                        </div>
                  
                            <div class="mb-3">
                                <label for="new_standard_cost" class="form-label">Standard Cost</label>
                                <input type="number" value="{{ product.cost }}" placeholder="{{ product.cost }}" class="form-control" id="new_standard_cost" name="new_standard_cost" required>
                            </div>
                  
                            <div class="mb-3">
                                <label for="new_list_price" class="form-label">List Price</label>
                                <input type="number" value="{{ product.list_price }}" placeholder="{{ product.list_price }}" class="form-control" id="new_list_price" name="new_list_price" required>
                            </div>
                  
                            <div class="mb-3">
                                <label for="new_quantitiy_per_unit" class="form-label">Quantity Per Unit</label>
                                <input class="form-control" value="{{ product.quantitiy_per_unit }}" placeholder="{{ product.quantitiy_per_unit }}" id="new_quantitiy_per_unit" name="new_quantitiy_per_unit" rows="3"></input>
                            </div>
                            <div class="mb-3">
                              <select class="form-select" id="new_categorySelect" name="new_selected_category" aria-label="Category">
                                
                                {% for category in category_list%}
                                <option {% if category[0] == product.category  %} selected {%endif%} value="{{category[0]}}">{{category[0]}}</option>
                                
                                {%endfor%}
                              </select>
                              <small class="text-muted">
                                Can't find your category? Just click
                                <button type="button" class="btn btn-link p-0" data-bs-toggle="collapse" data-bs-target="#newCategoryUpdateCollapse">
                                    here
                                </button>!
                            </small>
                            <div class="collapse" id="newCategoryUpdateCollapse">
                              
                                <label for="category" class="form-label">Category</label>
                                <input type="text" class="form-control" id="category" name="new_category">
                              
                            </div>
                            </div>
                            <div class="mb-3">
                              <select class="form-select" id="selectedSupplier" name="new_selected_supplier" aria-label="Category">
                                
                                {% for id, company in company_list %}
                                <option {% if company == company_name %}selected{% endif %} value="{{ id }}">
                                    {{ id }} {{ company }}
                                </option>
        
                            
                                {%endfor%}
                                <option class="selected">asd</option>
                              </select>
                              <small class="text-muted">
                                Can't find your supplier company? You should add the company information first. Just click
                                <a href="/suppliers">here</a>!
                            </small>
                            </div>
                            <input type="hidden" id="updateId" name="updateId" value="{{product_id}}">
                            <button type="submit" class="btn btn-success">Update Product</button>
                            <button type="button" class="btn btn-secondary" onclick="">
                              
                              Cancel
                            </button>
                          </form>
              </div>
                </div>
             </div>
            </div>
          </div>
          
          
          <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Are You Sure?</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Do you really want to delete this product? This action can not be undone.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form method="POST">
                    <input type="hidden" id="deleteId" name="deleteId" value="{{product_id}}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
        </tr>
      </tbody>
    </table>
  </div>
  <script>
    function closeNewProductCollapse() {
        var newProductCollapse = new bootstrap.Collapse(document.getElementById('newProductCollapse'), {
            toggle: false
        });
        newProductCollapse.hide();
    }
    
  </script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  $(document).ready(function() {
    $('th.sortable').click(function() {
      var table = $(this).parents('table').eq(0);
      var rows = table.find('tr:gt(0)').toArray();
      var isAscending = $(this).hasClass('asc');

      // Remove the "asc" class from all headers
      $('th.sortable').removeClass('asc');

      if (!isAscending) {
        $(this).addClass('asc');
      }

      rows.sort(comparator($(this).index()));
      
      if (!isAscending) {
        rows = rows.reverse();
      }

      for (var i = 0; i < rows.length; i++) {
        table.append(rows[i]);
      }
    });

    function comparator(index) {
      return function(a, b) {
        var valA = getCellValue(a, index),
            valB = getCellValue(b, index);
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
      }
    }

    function getCellValue(row, index) {
      return $(row).children('td').eq(index).text();
    }
  });
</script>
{%endblock%}
