{% extends "base.html" %}
{% block page_content %}
<link rel="stylesheet" href="{{url_for('static',filename='styles/purchases.css')}}">

<div class="container" style="padding-top:8%;">
<form action="/purchases" method="post">
    <!-- Create four buttons side by side -->
    <button class="button {% if active_filter == '0' %}active{% endif %}" type="submit" name="filter" value="0">New Purchases</button><!--filter 0 new-->
    <button class="button {% if active_filter == '1' %}active{% endif %}" type="submit" name="filter" value="1">Submitted Purchases</button><!--filter 1 submitted-->
    <button class="button {% if active_filter == '2' %}active{% endif %}" type="submit" name="filter" value="2">Approved Purchases</button><!--filter 2 approved-->
    <button class="button {% if active_filter == '3' %}active{% endif %}" type="submit" name="filter" value="3">Closed Purchases</button><!--filter 3 closed-->
</form>
<div class="table-container">
        <!-- Table container -->
        <table class="table table-striped" id="purchasesTable">
          <thead>
            <!-- Table headers with sorting functionality -->
            <tr>
              <th class="sortable">ID</th>
              <th class="sortable">Supplier ID</th>
              <th class="sortable">Creator</th>
              <th class="sortable">Submission Date</th>
              <th class="sortable">Creation Date</th>
              <th class="sortable">Status</th>
              <th class="sortable">Estimated Date</th>
              <th class="sortable">Shipping Fee</th>
              <th class="sortable">Taxes</th>
              <th class="sortable">Payment Date</th>
              <th class="sortable">Payment Method</th>
              <th class="sortable">Notes</th>
              <th class="sortable">Approver</th>
              <th class="sortable">Approvement Date</th>
              <th class="sortable">Submitter</th>
            </tr>
          </thead>
          <tbody>
            <!-- Display purchases records from db--> 
			{% for record in records %} 
			<tr>
              <td>{{ record[0] }}</td>
              <td>{{ record[1] }}</td>
              <td>{{ record[2] }}</td>
              <td>{{ record[3] }}</td>
              <td>{{ record[4] }}</td>
              <td>{{ record[5] }}</td>
              <td>{{ record[6] }}</td>
              <td>{{ record[7] }}</td>
              <td>{{ record[8] }}</td>
              <td>{{ record[9] }}</td>
              <td>{{ record[10] }}</td>
              <td>{{ record[11] }}</td>
              <td>{{ record[12] }}</td>
              <td>{{ record[13] }}</td>
              <td>{{ record[14] }}</td>
            </tr> {% endfor %}
          </tbody>
        </table>
      </div>
	  <div class="record-count">
			<p>Total Records: {{ records|length }} Last Update Time: {{ update_time }}</p>
			
		</div>
	        <div class="button-container">
        <!-- Button container for update and add actions -->
		
		<button id="updateButton" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Update Record</button>
        <button id="addButton" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add New Record</button>
		
      </div>
      <!-- Modal for adding new records -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Enter new values</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
				<!-- Form takes input one by one -->
              <div class="modal-split">
                <form action="/purchases" method="post">
                  <label for="supplier_id">Supplier ID:</label>
                  <br>
                  <input type="text" id="supplier_id" name="supplier_id">
                  <br>
                
              </div>
              <div class="modal-split">
                  <label for="created_by">Creator:</label>
                  <br>
                  <input type="text" id="created_by" name="created_by">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="submitted_date">Submission Date:</label>
                  <br>
                  <input type="text" id="submitted_date" name="submitted_date">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="creation_date">Creation Date:</label>
                  <br>
                  <input type="text" id="creation_date" name="creation_date">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="status_id">Status:</label>
                  <br>
                  <input type="text" id="status_id" name="status_id">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="expected_date">Estimated Date:</label>
                  <br>
                  <input type="text" id="expected_date" name="expected_date">
                  <br>
              </div>
			  <div class="modal-split">
                  <label for="shipping_fee">Shipping Fee:</label>
                  <br>
                  <input type="text" id="shipping_fee" name="shipping_fee">
                  <br>
              </div>
			  <div class="modal-split">
                  <label for="taxes">Taxes:</label>
                  <br>
                  <input type="text" id="taxes" name="taxes">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="payment_date">Payment Date:</label>
                  <br>
                  <input type="text" id="payment_date" name="payment_date">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="payment_method">Payment Method:</label>
                  <br>
                  <input type="text" id="payment_method" name="payment_method">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="notes">Notes:</label>
                  <br>
                  <input type="notes" id="notes" name="notes">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="approved_by">Approver:</label>
                  <br>
                  <input type="text" id="approved_by" name="approved_by">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="approved_date">Approvement Date:</label>
                  <br>
                  <input type="text" id="approved_date" name="approved_date">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="submitted_by">Submitter:</label>
                  <br>
                  <input type="text" id="submitted_by" name="submitted_by">
                  <br>
              </div>
              
			  <input type="hidden" name="operation" value="0"><!--operation 0 create-->

                </form>
            </div>
            <div class="modal-footer">
              <!--Footer -->
            </div>
          </div>
        </div>
      </div>
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="updateModalLabel">Update Record</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/purchases" method="post">
			<div class="form-group">
				<label for="updateId">Select ID:</label>
				<select id="updateId" name="updateId" class="form-control" onChange="document.querySelector('#updateIdInfo input').value = this.value" required>
					{% for record in records %}
						<option value="{{ record[0] }}">{{ record[0] }}</option>
					{% endfor %}
				</select>
			</div>
			
			
			<button type="button" id="updateButton" data-toggle="modal" data-target="#changeRecordModal" class="btn btn-primary">Update</button>
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal">Delete</button>
			
		</form>
         
      </div>
      <div class="modal-footer">
        <!-- Footer -->
      </div>
    </div>
  </div>
</div>

<!-- Add a confirmation modal for delete action -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="deleteConfirmModalLabel">Confirm Delete</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this record?</p>
      </div>
      <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
	    <form action="/purchases" method="post">
			<span id="updateIdInfo">
			<input type="hidden" value="1" name="updateId">
			</span >
			<input type="hidden" name="operation" value="1"><!--operation 1 delete-->
        <button type="submit" class="btn btn-danger" >Delete</button>
		</form>
      </div>
    </div>
  </div>
</div>
<!-- Modal for updating value -->
      <div class="modal fade" id="changeRecordModal" tabindex="-1" role="dialog" aria-labelledby="changeRecordModalLabel">
	  
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Enter new values</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
				<!-- Form takes input one by one -->
              <div class="modal-split">
                <form action="/purchases" method="post">
                  <label for="supplier_id">Supplier ID:</label>
                  <br>
                  <input type="text" id="supplier_id" name="supplier_id">
                  <br>
                
              </div>
              <div class="modal-split">
                  <label for="created_by">Creator:</label>
                  <br>
                  <input type="text" id="created_by" name="created_by">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="submitted_date">Submission Date:</label>
                  <br>
                  <input type="text" id="submitted_date" name="submitted_date">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="creation_date">Creation Date:</label>
                  <br>
                  <input type="text" id="creation_date" name="creation_date">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="status_id">Status:</label>
                  <br>
                  <input type="text" id="status_id" name="status_id">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="expected_date">Estimated Date:</label>
                  <br>
                  <input type="text" id="expected_date" name="expected_date">
                  <br>
              </div>
			  <div class="modal-split">
                  <label for="shipping_fee">Shipping Fee:</label>
                  <br>
                  <input type="text" id="shipping_fee" name="shipping_fee">
                  <br>
              </div>
			  <div class="modal-split">
                  <label for="taxes">Taxes:</label>
                  <br>
                  <input type="text" id="taxes" name="taxes">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="payment_date">Payment Date:</label>
                  <br>
                  <input type="text" id="payment_date" name="payment_date">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="payment_method">Payment Method:</label>
                  <br>
                  <input type="text" id="payment_method" name="payment_method">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="notes">Notes:</label>
                  <br>
                  <input type="notes" id="city" name="notes">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="approved_by">Approver:</label>
                  <br>
                  <input type="text" id="approved_by" name="approved_by">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="approved_date">Approvement Date:</label>
                  <br>
                  <input type="text" id="approved_date" name="approved_date">
                  <br>
              </div>
              <div class="modal-split">
                  <label for="submitted_by">Submitter:</label>
                  <br>
                  <input type="text" id="submitted_by" name="submitted_by">
                  <br>
              </div>
              
			  <input type="hidden" name="operation" value="1"><!--operation 1 update-->

                </form>
            </div>
            <div class="modal-footer">
              <!--Footer -->
            </div>
          </div>
        </div>
      </div>	  
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
      $(document).ready(function() {
        $('th.sortable').click(function() {
          var table = $(this).parents('table').eq(0);
          var rows = table.find('tr:gt(0)').toArray();
          var isAscending = $(this).hasClass('asc');
          // Remove the "asc" class from all headers
          $('th.sortable').removeClass('asc');
          if (isAscending) {
            $(this).removeClass('asc');
          } else {
            $(this).addClass('asc');
          }
          rows.sort(comparator($(this).index()));
          if (!isAscending) {
            rows = rows.reverse();
          }
          for (var i = 0; i < rows.length; i++) {
            table.append(rows[i]);
          }
        });

        function comparator(index) {
          return function(a, b) {
            var valA = getCellValue(a, index),
              valB = getCellValue(b, index);
            return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB);
          }
        }

        function getCellValue(row, index) {
          return $(row).children('td').eq(index).text();
        }
      });
    </script>
	    <script>
      $(document).ready(function() {
        prep_modal();
      });

      function prep_modal() {
        $(".modal").each(function() {
          var element = this;
          var pages = $(this).find('.modal-split');
          if (pages.length != 0) {
            pages.hide();
            pages.eq(0).show();
            var b_button = document.createElement("button");
            b_button.setAttribute("type", "button");
            b_button.setAttribute("class", "btn btn-primary");
            b_button.setAttribute("style", "display: none;");
            b_button.innerHTML = "Back";
            var n_button = document.createElement("button");
            n_button.setAttribute("type", "button");
            n_button.setAttribute("class", "btn btn-primary");
            n_button.innerHTML = "Next";
            $(this).find('.modal-footer').append(b_button).append(n_button);
            var page_track = 0;
            $(n_button).click(function() {
              this.blur();
              if (page_track == 0) {
                $(b_button).show();
              }
              if (page_track == pages.length - 2) {
                $(n_button).text("Submit");
              }
              if (page_track == pages.length - 1) {
                console.log($(element).find("form").serialize());
                $(element).find("form").submit();
              }
              if (page_track < pages.length - 1) {
                page_track++;
                pages.hide();
                pages.eq(page_track).show();
              }
            });
            $(b_button).click(function() {
              if (page_track == 1) {
                $(b_button).hide();
              }
              if (page_track == pages.length - 1) {
                $(n_button).text("Next");
              }
              if (page_track > 0) {
                page_track--;
                pages.hide();
                pages.eq(page_track).show();
              }
            });
          }
        });
      }
    </script>
    <script>
      $(document).on("keydown", "form", function(event) {
        return event.key != "Enter";
      });
    </script>

{% endblock %}
