/* Style the table container */
.table-container {
    max-width: 100%; /* Set maximum width */
    overflow-x: auto; /* Allow horizontal scrolling */
    max-height: 80vh; /* Adjust the maximum height as needed */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px; /* Add padding */
}

/* Style the table within the container */
.table-container table {
    width: 100%; /* Set table width to 100% */
}
/*--------------------------------------------------------*/
/* Style sortable table headers */
th.sortable {
    cursor: pointer; /* Change cursor to pointer on hover */
}

th.sortable:hover::after {
    content: " ▼"; /* Add down arrow on hover */
}

th.sortable.asc::after {
    content: " ▲"; /* Add up arrow for ascending order */
}
/*--------------------------------------------------------*/
/* Style the button container */
.button-container {
	display: flex;
	justify-content: space-between;

    text-align: right; /* Align buttons to the right */
    margin-top: 20px; /* Add top margin */
}

/* Style the buttons */
.btn {
    margin: 5px; /* Add margin to buttons */
}

/* Center-align h4 elements */
h4 {
    text-align: center;
}

.location-button {
    order: -1; /* Move this div to the beginning of the flex container */
}
.admin-buttons {
    display: flex;
}